body {
    text-align:center;
    font-family:sans-serif;
    line-height: 1.5em;
    padding: 1rem;
}
#web {
    float:left;
    margin: 35px;
    border:12px inset darkslategray;
}
#night {
    float: inline-end;
    margin:35px;
    border:13px outset black;
    z-index:1;
    height: 250;
}
a:hover {
    background-color:lightsteelblue;
}
small {
    z-index:2;
    font-family: monospace;
    color:black;
}
#home {
    background-color:sandybrown;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
}